doctype html
html(lang='de')
	head
		meta(charset='utf8')
		// <base href='/'>
		title Title here
		meta(name='description', content='Description here')
		meta(http-equiv='X-UA-Compatible', content='IE=edge')
		meta(name='Viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
		// Template Basic Images Start
		meta(property='og:image', content='path_to_image/img.jpg')
		link(href='../img/favicon/favicon.ico', rel='icon')
		link(href='../img/favicon/apple-touch-icon-180x180.png', rel='apple-touch-icon')
		// Template Basic Images End
		// Custom Browsers Color Start
		meta(name='theme-color', content='#000')
		//Custom Browsers Color End
		link(href='../css/custom.min.css', rel='stylesheet')
	body
		// custom html code here
		
		script(src='../js/custom.min.js')