doctype html
html(lang='de')
	head
		meta(charset='utf8')
		// <base href='/'>
		title Prüfplaketten Discount
		meta(name='description', content='')
		meta(http-equiv='X-UA-Compatible', content='IE=edge')
		meta(name='Viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
		// Template Basic Images Start
		meta(property='og:image', content='path_to_image/img.jpg')
		link(href='../img/favicon/favicon.ico', rel='icon')
		link(href='../img/favicon/apple-touch-icon-180x180.png', rel='apple-touch-icon')
		// Template Basic Images End
		// Custom Browsers Color Start
		meta(name='theme-color', content='#000')
		//Custom Browsers Color End
		link(href='../css/main.min.css', rel='stylesheet')
		link(href='../css/custom.min.css', rel='stylesheet')
		link(href='../css/fonts.min.css', rel='stylesheet')
	body
		// custom html
		include includes/_header.pug
		include includes/_nav.pug
		.homepage-wrapper
			.container
				.hero
					.hero-content
						.hero-title-box
							.hero-title
								h1 Prüfplaketten und Plaketten
								h2 Ihr Online-Discounter für Prüfplaketten und  zu Top-Konditionen
						.hero-caption-box
							.hero-caption
								p Unser Angebot umfasst neben verschiedensten Jahres- und Mehrjahres-Plaketten auch Kabelprüfplaketten sowie Etiketten zur Kennzeichnung von Qualitätszuständen, Grundplaketten, Wartungsnachweise und vieles mehr. <br><br> Mit unserer langjährigen Erfahrung in der Kennzeichnungsbranche stehen wir Ihnen nicht nur als kompetenter Partner in Punkto Preis und Qualität zur Seite, wir bieten Ihnen zudem nahezu unschlagbar schnelle Produktions- und Lieferzeiten und beraten Sie immer auch gerne in Bezug auf individuelle Sonderanfertigungen.
							.hero-img
								img.hero-image(src='../img/hero1.png')
								img.hero-image(src='../img/hero2.png')
								img.hero-image(src='../img/hero3.png')
		section#general
			.container
				.general-category
					ul.products
						li.product
							a.product-image(href='#')
								img(src='../img/cat1.png')
							.general-grid-caption
								a(href='#')
									h3 Kategorie Name
						li.product
							a.product-image(href='#')
								img(src='../img/cat2.png')
							.general-grid-caption
								a(href='#')
									h3 Kategorie Name
						li.product
							a.product-image(href='#')
								img(src='../img/cat3.png')
							.general-grid-caption
								a(href='#')
									h3 Kategorie Name
						li.product
							a.product-image(href='#')
								img(src='../img/cat4.png')
							.general-grid-caption
								a(href='#')
									h3 Kategorie Name
						li.product
							a.product-image(href='#')
								img(src='../img/cat5.png')
							.general-grid-caption
								a(href='#')
									h3 Kategorie Name
						li.product
							a.product-image(href='#')
								img(src='../img/cat6.png')
							.general-grid-caption
								a(href='#')
									h3 Kategorie Name
						li.product
							a.product-image(href='#')
								img(src='../img/cat7.png')
							.general-grid-caption
								a(href='#')
									h3 Kategorie Name
						li.product
							a.product-image(href='#')
								img(src='../img/cat8.png')
							.general-grid-caption
								a(href='#')
									h3 Kategorie Name
						li.product
							a.product-image(href='#')
								img(src='../img/cat9.png')
							.general-grid-caption
								a(href='#')
									h3 Kategorie Name
								
							
								
		block scripts
			script(src='../js/custom.js')
							